
.details {
  width: 580px;
  height: 280px;
  margin: 10px;
  border-radius: 15px;
  background-color: #ffb6b3;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: #4d1f00;
  font-family: 'Balsamiq Sans', cursive;
  box-shadow: 5px 5px 10px #ffcccc;
  border: 5px solid #ff9999;
}

.link {
  font-size: 16px;
}

.link:hover {
  font-size: 20px;
  color: #990000;
}