.introductionStyle {
  width: 580px;
  height: 380px;
  margin: 10px;
  border-radius: 15px;
  background-color: #ffcc99;
  text-align: center;
  padding: 20px;
  font-size: 15px;
  color: #4d1f00;
  font-family: 'Balsamiq Sans', cursive;
  box-shadow: 5px 5px 10px #ffd9b3;
  border: 5px solid #ffbf80;
}
